USE [worldskills]
GO
/****** Object:  Table [dbo].[competition]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition](
	[id] [float] NULL,
	[title] [nvarchar](255) NULL,
	[date_start] [nvarchar](255) NULL,
	[date_end] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[city] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competition_skill]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition_skill](
	[competition_id] [float] NULL,
	[skill_id] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[region_id] [float] NULL,
	[region_title] [nvarchar](255) NULL,
	[region_capital] [nvarchar](255) NULL,
	[region_local] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [float] NULL,
	[role] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[id] [float] NULL,
	[title] [nvarchar](255) NULL,
	[skill_block_id] [float] NULL,
	[is_future] [float] NULL,
	[description] [nvarchar](max) NULL,
	[square_table] [float] NULL,
	[square_grade_room] [float] NULL,
	[brief_zone] [float] NULL,
	[square_store] [float] NULL,
	[team_number] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_block]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_block](
	[id] [float] NULL,
	[title] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_results]    Script Date: 25.01.2023 11:24:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_results](
	[user_id] [float] NULL,
	[FIO] [nvarchar](255) NULL,
	[gender] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[PIN] [float] NULL,
	[birth] [datetime] NULL,
	[id_role] [float] NULL,
	[skill_id] [float] NULL,
	[region_id] [float] NULL,
	[prise] [float] NULL,
	[competition_id] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (1, 0)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (2, 31)
INSERT [dbo].[competition_skill] ([competition_id], [skill_id]) VALUES (3, 52)
GO
INSERT [dbo].[regions] ([region_id], [region_title], [region_capital], [region_local]) VALUES (1, N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[regions] ([region_id], [region_title], [region_capital], [region_local]) VALUES (2, N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[regions] ([region_id], [region_title], [region_capital], [region_local]) VALUES (3, N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
GO
INSERT [dbo].[role] ([id_role], [role]) VALUES (1, N'Участник')
INSERT [dbo].[role] ([id_role], [role]) VALUES (2, N'Эксперт')
INSERT [dbo].[role] ([id_role], [role]) VALUES (3, N'Гланый эксперт')
GO
INSERT [dbo].[skill_block] ([id], [title]) VALUES (1, N'Информационные и коммуникационные технологии')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (2, N'Образование')
INSERT [dbo].[skill_block] ([id], [title]) VALUES (3, N'Производство и инженерные технологии')
GO
INSERT [dbo].[users_results] ([user_id], [FIO], [gender], [password], [PIN], [birth], [id_role], [skill_id], [region_id], [prise], [competition_id]) VALUES (1, N'Пересторонин Михаил Онисимович', N'м', N'BwQeaaBt', 28570, CAST(N'2000-09-29T00:00:00.000' AS DateTime), 1, 1, 1, 1, 1)
INSERT [dbo].[users_results] ([user_id], [FIO], [gender], [password], [PIN], [birth], [id_role], [skill_id], [region_id], [prise], [competition_id]) VALUES (2, N'Тёмкин Адам Евстафиевич', N'м', N'@@tdGgjh', 98025, CAST(N'1973-08-26T00:00:00.000' AS DateTime), 2, 2, 2, NULL, 2)
INSERT [dbo].[users_results] ([user_id], [FIO], [gender], [password], [PIN], [birth], [id_role], [skill_id], [region_id], [prise], [competition_id]) VALUES (3, N'Андронов Ян Назарович', N'м', N'7ccYtusD', 33216, CAST(N'1977-08-03T00:00:00.000' AS DateTime), 3, 3, 3, 1, 3)
GO
